.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.605);
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipeContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90vw;
    max-width: 340px;
    max-height: 90vh;
    border-radius: 15px;
    background-color:var(--mainColor);
    overflow-y: scroll;
}
.recipeHeader img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.recipeBody{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.7rem;
    padding: 0.7rem;
}
.recipeBody h2, .recipeBody h3{
    font-family: "Fraunces", serif;
    font-size: 1.4rem;
    text-shadow: 2px 2px 5px black;
}
.recipeBody h3{
    text-decoration: underline;
    margin-top: 0.7rem;
}
.recipeBody p{
    font-size: 0.9rem;
    text-align: justify;
    
}
.recipeBody li{
    padding: 0.5rem;
    list-style: none;
    font-size: 0.9rem;
}