.headerIcon{
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    bottom: 60%;
    padding: 0.7rem;
    background-color: var(--mainColor);
    border-radius: 50%;
    z-index: 100;
    filter: drop-shadow(0 10px 10px black);
}
.listContainer{
    display: flex;
    flex-wrap: wrap;
    min-width: 100vw;
    min-height: 100vh;
}