.barContainer{
    padding: 0.7rem;
    border-bottom: 3px solid var(--secundaryColor);
    display: flex;
    justify-content: space-between;
    align-items: end;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.51));
    height: 6rem;
}
.barContainer button{
    border: 1px solid var(--secundaryColor);
    padding: 0.4rem 0.8rem;
    background-color: var(--secundaryColor);
    border-radius: 0.8rem;
    color: var(--textColor);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0 0.7rem;

}   
.barContainer button:hover{
    border: 1px solid var(--secundaryColor);
    background-color: var(--mainColor);
    color: var(--secundaryColor);
    filter: drop-shadow(0 3px 3px rgba(255, 255, 255, 0.51));
}   
.barIcon{
    margin: 0 0.5rem;
}