.barContainer{
    padding: 0.7rem;
    border-bottom: 3px solid var(--secundaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barContainer button{
    color: var(--mainColor);
    background-color: var(--secundaryColor);
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--mainColor);
    transition: all 0.5s;
}   
.barContainer button:hover{
    color: var(--secundaryColor);
    background-color: var(--mainColor);
    border: 1px solid var(--secundaryColor);
}   
.barIcon{
    margin: 0 0.5rem;
}