.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin: 2rem 0;
}
.formContainer label{
    padding-right: 0.7rem;
    font-weight: 700;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
.formContainer input, .formContainer select{
    border: none;
    padding: 0.2rem;
    background-color: var(--secundaryColor);
    color: var(--mainColor);
    font-size: 1rem;
    border-radius: 0 0.5rem 0 0.5rem;
    max-width: 12rem;
}

.formContainer p{
    box-shadow: 0 5px 5px rgb(138, 24, 24);
    border-radius: 8px;
    margin: 4px 0;
    text-align: center;
}
.formContainer button{
    border: 1px solid var(--secundaryColor);
    padding: 0.4rem 0.8rem;
    background-color: var(--secundaryColor);
    border-radius: 0.8rem;
    color: var(--mainColor);
    font-size: 1rem;
    font-weight: 700;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.51));
    cursor: pointer;
    transition: background-color, color, filter 0.5s;
}
.formContainer button:hover{
    border: 1px solid var(--secundaryColor);
    background-color: var(--mainColor);
    color: var(--secundaryColor);
    filter: drop-shadow(0 3px 3px rgba(255, 255, 255, 0.51));
}