.signIn{
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    color:var(--tetxColor)
}
.signIn input, .signIn div, .signIn label{
    color: var(--textColor) !important;
}
.inputSign fieldset{
    border: var(--secundaryColor) 2px solid;
}