.cardContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 90vw;
    max-width: 340px;
    height: auto;
    border-radius: 15px;
    background-color: var(--secundaryColor);
}
.cardContainer img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.infoContainer::before{
    content: '';
    width: 100%;
    height: 35px;
    background: linear-gradient(0deg, rgba(244,117,0,0.88) 0%, rgba(244,117,0,0) 100%);
    position: absolute;
    top: -39px;
    left: 0;
}
.infoContainer{
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    color: var(--mainColor);
    position: relative;
}
.infoContainer h3 {
    font-family: "Fraunces", serif;
    font-size: 1.8rem;
    line-height: 1.8rem;
}
.infoContainer button{
    background-color: var(--mainColor);
    color: var(--secundaryColor);
    padding: 15px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.729));
}
.infoContainer button:hover{
    filter: drop-shadow(0 10px 10px rgb(255, 254, 254));
}
.recipe{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.recipeIcon{
    cursor: pointer;
    filter: drop-shadow(0 10px 10px black);
    transition: all 0.5s;
}
.recipeIcon:hover{
    filter: drop-shadow(0 10px 10px rgb(255, 254, 254));
}