.modalBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.388);
    min-height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    overflow-y: scroll;
}

.modalBg .modal{
    background-color: var(--mainColor);
    width: 700px;
    border-radius: 8px;
    padding: 1rem;
}
.modalDrinkListContainer{
    max-height: 80vh;
    overflow-y: scroll;
}
.icon{
    color: gray;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
}

.modalTotal{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0;
    font-weight: 700;
}
.btnContainer button{
    width: 45%;
    margin: 0 0.5rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--secundaryColor);
    background-color: var(--secundaryColor);
    color: var(--textColor);
    font-size: 1rem;
    font-weight: 700;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.51));
    cursor: pointer;
    transition: all 0.5s;
    
}
.btnContainer button:hover{
    filter: drop-shadow(0 5px 5px rgb(255, 254, 254));
}
.noresults{
    margin: 1.3rem auto;
    text-align: center;
}